﻿@model LogiscitsApp.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timezone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timezone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobilephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobilephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.countryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.countryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.stateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.stateCode)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
