﻿@using LogiscitsApp.Models

@model IEnumerable<LogiscitsApp.Models.Contact>

@{
    ViewBag.Title = "Contacts Details";
}


<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timezone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobilephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.countryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.stateCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timezone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobilephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.countryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.stateCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.userID }) 
                @Html.ActionLink("Details", "Details", new { id = item.userID }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.userID })
            </td>
        </tr>

    }



</table>
<div>
    @Html.ActionLink("Change password","ChangePassword" ,"Home")
</div>